[submodule "framework/Unity"]
	path = framework/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "framework/CMock"]
	path = framework/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "framework/sdrtf"]
	path = framework/sdrtf
	url = https://github.com/SunDevilRocketry/sdrtf.git
